<!--Begin Code - @NavyaS-->

<div class="contact-us">
    <form id="email-signup-form" method="post"  action="#" name="email-preferences-form">
        <div class="email-signup__inner">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age">
            <p class="age-error">Please enter valid age. Min age 18 Max age 50</p>
            <br><br>
            <label for="country">Country:</label><br>
            <select id="country" name="country"></select><br><br>
            <input type="submit"  value="Submit">
        </div>
    </form>
</div>
<div id="successfully_submitted" class="successfully_submitted">Form Sucessfully Submitted! </div>
<div id="submission_failed" class="submission_failed">Form Subtion Failed! </div>

<!--End Code-->